# Prisma
DATABASE_URL=postgresql://user:password@localhost:5432/mydb?schema=public

# Next Auth environment variables
AUTH_SECRET=your-secret-key
NEXTAUTH_URL=http://localhost:3000

# Server side environment variables
NEXT_SERVER_API_URL=http://localhost:5000/api
NEXT_ENABLE_HOME_PAGE=true
NEXT_ENABLE_SIGN_UP_PAGE=true

# Client side environment variables
NEXT_PUBLIC_API_URL=http://localhost:5000/api